<section class="main-section">
    <div class="container">
      <div class="left-container">
        <textarea name="calcInput">{{ actualInput }}</textarea>
      </div>

      <div class="right-container">
        <div class="buttons-container">
          <button (click)="typeInput($event)" value="P">P</button>
          <button (click)="typeInput($event)" value="Q">Q</button>
          <button (click)="typeInput($event)" value="R">R</button>

          <button (click)="typeInput($event)" value="Λ">&and;</button>
          <button (click)="typeInput($event)" value="∨">&or;</button>
          <button (click)="typeInput($event)" value="⊻">&veebar;</button>
          <button (click)="typeInput($event)" value="(">(</button>
          <button (click)="typeInput($event)" value=")">)</button>
        </div>
        <button (click)="showSimbols()">Show simbols</button>
      </div>
    </div>
</section>