<section class="main-section">
    <div class="container">
      <div class="left-container">
        <textarea readonly name="calcInput" [ngClass]="{'alert-text' : !symbolFound}">{{ actualInput }}</textarea>
        <p *ngIf="!symbolFound"
          style="color: red">
          Simbolo Incorrecto Ingresado
        </p>
        <div class="buttons-container">
          <button
            *ngFor="let symbol of currentSimbols"
            value="{{ symbol.value }}"
            (click)="typeInput($event)">
            {{ symbol.value }}
          </button>

          <button (click)="typeInput($event)" value="A">A</button>
          <button (click)="typeInput($event)" value="B">B</button>
          <button (click)="typeInput($event)" value="C">C</button>
          <button (click)="typeInput($event)" value="D">D</button>

          <button (click)="deleteChar()">Delete</button>
        </div>
        <button (click)="showSimbols()">Show simbols</button>
      </div>

      <div class="right-container">
        <div class="used-symbols">
          <div *ngFor="let symbol of foundSimbols">
            <p> {{symbol.key}} / {{ symbol.value }} </p>
          </div>
        </div>
      </div>
    </div>
</section>